fontanenetzwerke/READMe.md
fontanenetzwerke/Figurenuebersicht.csv
fontanenetzwerke/Referenz_referierte_Figuren.csv
fontanenetzwerke/Referenz_referierende_Figuren.csv
fontanenetzwerke/sprechakt_Sprecher.csv
fontanenetzwerke/sprechakt_gegenueber.csv
